<!DOCTYPE html>
<html lang="br" xmlns:th="http://www.thymeleaf.or">
<head >
  
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>	
  <link rel="stylesheet" href="css/estilo.css">
  <title>Cadastro Policial no Sistema</title>
 </head>
 <body>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" th:href="@{/listar}">Home <span class="sr-only">(Página atual)</span></a>
      <a class="nav-item nav-link active" href="#">Relatorio</a>
      <a class="nav-item nav-link active" href="#">Pesquisa</a>
      <a class="nav-item nav-link active" href="#">Agendamento</a>
      <a class="nav-item nav-link active" th:href="@{/cadastro}">Cadastro</a>
    </div>
  </div>
</nav>
 <form method="POST" action="/cadastrar">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nome Completo</label>
    <input type="text" class="form-control" name="nome_policial" >
    
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nome de Guerra</label>
    <input type="text" class="form-control" name="nome_guerra">
      </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Matrícula</label>
    <input type="text" class="form-control" name="matricula">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Atribuição</label>
    <input type="text" class="form-control" name="atribuicao">
  </div>
  
  <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>

</body>
</html>